header img{
    float:left;
    margin-right:20px;
}
header{
    background-color:#CCC;
    padding-top: 1px;
    padding-bottom: 28px;
}
header div{
    max-width:960px;
    margin:0 auto;
}
header h1{
    background-color: #dedede;
}
nav{
    background-color: #bebebe;
    max-width:960px;
    margin:5px auto;
    padding: 10px;
    border: ridge rgb(92, 255, 38);
}
div.list{
    max-width:960px;
    margin:0 auto;
    background-color: #bbbb;
}
div.form{
    max-width:960px;
    margin:0 auto;
    background-color: #bbbb;
}
div.table{
    max-width:960px;
    margin:0 auto;
    background-color: #bbbb;
}
table tr:nth-child(2n) td{
    background-color: rgba(0, 255, 0, 0.2);
}
table tr:nth-child(2n+1) td{
    background-color: rgba(255, 255, 0, 0.4);
}
footer{
    background-color:#CCC;
    margin: 5px;
    padding: 5px;
}
table ,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}